<ul class="list-unstyled">
  <% microposts.each do |micropost| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(micropost.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <p class="mb-0"><%= micropost.content %></p>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate microposts %>
</ul>